.add, .show {
    width: 10%;
    margin: 0 auto;
}
.show input {
    margin-top: 20px;
}

.clients_display {
}

.clients_display td {
    border-bottom: 1pt solid black;
}

#products {
    display: none;
}